<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fniephaus.rworkflow</string>
	<key>connections</key>
	<dict>
		<key>69EE3641-1230-4DE5-A54D-2B8AFE84AA21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E7914E7-6E3E-4D3B-9D20-466A6E122865</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D7A38F9F-C669-4CD1-B6E4-2A19933AD553</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E7914E7-6E3E-4D3B-9D20-466A6E122865</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fabio Niephaus</string>
	<key>description</key>
	<string>This is a demo workflow to compare the performance of RPython with CPython</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RWorkflow Demo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>euler_python</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>python demo.py {query}</string>
				<key>title</key>
				<string>Project Euler (CPython)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D7A38F9F-C669-4CD1-B6E4-2A19933AD553</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4E7914E7-6E3E-4D3B-9D20-466A6E122865</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>euler_rpython</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>./demo-c {query}</string>
				<key>title</key>
				<string>Project Euler (RPython)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>69EE3641-1230-4DE5-A54D-2B8AFE84AA21</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4E7914E7-6E3E-4D3B-9D20-466A6E122865</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>69EE3641-1230-4DE5-A54D-2B8AFE84AA21</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D7A38F9F-C669-4CD1-B6E4-2A19933AD553</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fniephaus/alfred-rworkflow</string>
</dict>
</plist>
